<div id=hd>
    <div class=wrap>
        <p id=logo>Entrepreneurs&apos; Organization, fueling the entrepreneurial engine - London</p>
        <ul class=navSocial>
            <li>
                EO Global
                <ul>
                    <li><a class="lnkTwitter" href="http://twitter.com/EntrepreneurOrg">Twitter</a></li>
                    <li><a class="lnkFacebook" href="http://facebook.com/EntrepreneursOrganization">Facebook</a></li>
                    <li><a class="lnkLinkedIn" href="http://linkedin.com/in/entrepreneursorganization">LinkedIn</a></li>
                </ul>
            </li>
            <li>
                EO London
                <ul>
                    <li><a class="lnkTwitter" href="http://twitter.com/eolondon">Twitter</a></li>
                    <li><a class="lnkFacebook" href="http://www.facebook.com/eolondon">Facebook</a></li>
                </ul>
            </li>
        </ul>
        <div class=pageTitle>
            <h1>Are you ready to take the next step in your entrepreneurial adventure?</h1>
            <p>You&apos;ve come to the right place.</p>
        </div>
    </div>
</div>