<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="google-site-verification" content="O-deBYuW3YFXx1eRKGMzi93zICkW4TWiwOtIbTURlN0" />

        <title>Entrepreneurs&apos; Organization London</title>
        <meta name="description" content="EO is a global community that enriches members&apos; lives through dynamic peer-to-peer learning, once-in-a-lifetime experiences and connections to experts.">

        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
        <link rel="icon" type="image/x-icon" href="/favicon.ico">

        <!-- This template was originally based on one given with kind permission by EO Argentina: http://www.eonetwork.com.ar/ -->
        <link rel="stylesheet" type="text/css" href="/css/styles.css">

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-45889031-2', 'auto');
          ga('send', 'pageview');

        </script>
    </head>
    <body>
        <div id=fb-root></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        {% include header.html %}
        {{ content }}
        <div id=ft class=wrap>
            <p class=copy>&copy; 2014 Entrepreneurs' Organization</p>
            <ul class=navSocial>
                <li><a class="lnkTwitter" href="http://twitter.com/EntrepreneurOrg">Twitter</a></li>
                <li><a class="lnkFacebook" href="http://facebook.com/EntrepreneursOrganization">Facebook</a></li>
                <li><a class="lnkLinkedIn" href="http://linkedin.com/in/entrepreneursorganization">LinkedIn</a></li>
            </ul>
        </div>
    </body>
</html>
